extends layout

block content
	.card-deck.p-4
		.card
			.card-body
				h5.card-title togglmetrics
				h6.card-subtitle.mb-2.text-muted toggl sent #{length} Time Entries
				a.card-link.text-info(onclick='openDebug()') Debug
		.card
			.card-body
				.input-group.mb-3
					input.form-control(type="text" placeholder="your Toggl API token")
				.input-group.mb-3
					input.form-control(type="text" placeholder="your workspace ID")
				a.card-link.font-weight-bold Reload With New Settings
		.card
			.card-body.flex
				each project in unique_projects
					.dropdown
						button.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' id='#{project}')
							| #{project}
					.dropdown-menu(aria-labelledby='#{project}')
						each category in unique_projects
							a.dropdown-item(href='#') #{category}

	canvas(style="width:60%;height:600px", id="canvas")

	div(id="debug" style="display:none;" )
		button(onclick='closeDebug()') hide debug informations
		p #{debug}
		p unique dates are #{unique_dates}

	script.
		var openDebug = function() {
			document.getElementById('debug').style.display = 'block';
		}
		var closeDebug = function() {
			document.getElementById('debug').style.display = 'none';
		}

	script.
		window.randomScalingFactor = function() {
			return 20
		};
		var barChartData = !{JSON.stringify(duration_bar_chart)};
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: barChartData,
				options: {
					title: {
						display: true,
						text: 'Chart.js Bar Chart - Stacked'
					},
					tooltips: {
						mode: 'index',
						intersect: false
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true,
						}],
						yAxes: [{
							stacked: true
						}]
					}
				}
			});
		};
