extends layout

block content
	h1 Detailed Report
	p number of rows in the report is #{length} 
	p unique projects are #{unique_projects}
	canvas(style="width:60%;height:600px", id="canvas")
	h2 debug informations
	p #{debug}
	p unique dates are #{unique_dates}

	script.

		window.randomScalingFactor = function() {
			return 20
		};
		var barChartData = !{JSON.stringify(duration_bar_chart)};
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: barChartData,
				options: {
					title: {
						display: true,
						text: 'Chart.js Bar Chart - Stacked'
					},
					tooltips: {
						mode: 'index',
						intersect: false
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true,
						}],
						yAxes: [{
							stacked: true
						}]
					}
				}
			});
		};
